[submodule "modules/events"]
	path = modules/events
	url = git@github.com:javie/events.git
[submodule "modules/profiler"]
	path = modules/profiler
	url = git@github.com:javie/profiler.git
[submodule "modules/logger"]
	path = modules/logger
	url = git@github.com:javie/logger.git
